/*=================

General

===================*/

html {
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 1%;
  font-family: sans-serif;
}

img {
  float: left;
  padding-right: 2%;
  height: 125px;
  width: auto;
}

/*=================

Containers

===================*/

.app-container {
  padding: 0 15% 0 15%;
}

.listing-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.listing-box {
  border: 1px solid #CCCCCC;
  margin: 0.3%;
  padding: 0.5%;
  width: 45.86%;
  flex: 0 1 auto;
  align-self: auto;
}

/*=================

Buttons

===================*/

.btn {
  background-color: #89D128;
  border-radius: 5px;
  border: 2px solid #89D128;
  color: #FFFFFF;
  margin: 0 0 0.5% 0.3%;
  width: 15.5%;
  height: 2rem;
}

/*=================

Content

===================*/

.title {
  font-size: 1.3rem;
  font-weight: normal;
}

.price {
  font-size: 2.5rem;
  margin: 0;
  color: #414141;
}

.address {
  font-size: 1.5rem;
  margin: 0;
  color: #1377E1;
}

.built {
  text-align: right;
  font-size: 0.5rem;
}

.details {
  font-size: 0.8rem;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*=================

Media Queries

===================*/

@media (max-width: 1000px) {
  img {
    float: none;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .listing-container {
    flex-flow: row wrap;
  }
  .listing-box {
    width: 45.7%;
  }
}

@media (max-width: 600px) {
  .listing-container {
    flex-flow: column nowrap;
  }
  .listing-box {
    width: 95%;
  }
  .btn {
    width: 32%;
  }
}
